<div #treeDiv>
    <button nz-button [nzSize]="'small'" style="margin: 12px 0;" nzType="dashed" (click)="addFootFile()">
        <i nz-icon nzType="file-add" nzTheme="outline"></i>
        新建文件夹
    </button>
    <nz-spin [nzSpinning]="isSpinning" style="height:100% ">
        <nz-empty [nzNotFoundContent]="'暂无数据'" style="margin-top: 48px" *ngIf="!nodes.length"></nz-empty>
        <nz-tree
            #nzTree
            nzBlockNode
            [nzData]="nodes"
            [nzBeforeDrop]="beforeDrop.bind(this)"
            (nzClick)="activeNode($event)"
            (nzDblClick)="openFolder($event)"
            [nzTreeTemplate]="nzTreeTemplate"
            nzDraggable (nzOnDrop)="nzEvent($event)"
            (nzOnDragEnd)="dragEnd($event)"
        ></nz-tree>
        <ng-template #nzTreeTemplate let-node let-origin="origin">
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
<!--                    <li nz-menu-item (click)="copy(node)" class="dropdownMenu">复制</li>-->
                    <li nz-menu-item (click)="cut(node)" class="dropdownMenu">剪切</li>
                    <li nz-menu-item  (click)="paste(node)" class="dropdownMenu">粘贴</li>
                </ul>
            </nz-dropdown-menu>


            <div style="flex-grow: 1;" [id]="node.key" style="">
                <div [hidden]="editId === node.key"
                     style="display: flex;justify-content: space-between;align-items: center">
        <span class="custom-node" style="flex-grow:1 ">
        <div nz-tooltip [nzTooltipTitle]=" node.title "
             style="display: flex;align-items: center"
             *ngIf="!node.isLeaf"
             (contextmenu)="contextMenu($event, menu)">
          <i nz-icon style="width: 20px" [nzType]="node.isExpanded ? 'folder-open' : 'folder'"
             (click)="openFolder(node)"></i>
          <span class="folder-name"
                style="flex-grow:1;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 20px">{{ node.title }}</span>
        </div>
        <span class="custom-node-icon" *ngIf="node.isLeaf" (contextmenu)="contextMenu($event, menu)">
          <i nz-icon nzType="file"></i>
          <span class="file-name">{{ node.title }}</span>
        </span>
      </span>
                    <a class="custom-node-icon" style="margin-left: auto" (click)="add($event,node.key)"
                       nz-button nzType="link" nzGhost>
                        <i nz-icon nzType="file-add" nzTheme="outline"></i>
                    </a>
                    <a class="custom-node-icon" (click)="startEdit($event,node)"
                       nz-button nzType="link" nzGhost>
                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                    </a>
                    <a class="custom-node-icon" (click)="deleteNode($event,node.key)"
                       nz-button nzType="link" nzGhost>
                        <i nz-icon nzType="delete" nzTheme="outline"></i>

                    </a>

                </div>
                <input [hidden]="editId !== node.key" type="text" nz-input [(ngModel)]="node.title"
                       (click)="inputClick($event)"
                       (blur)="stopEdit(node)"/>
            </div>
        </ng-template>
    </nz-spin>
</div>

<nz-modal
        [(nzVisible)]="Visible"
        nzTitle="新增文件夹"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()"
        [nzOkDisabled]="!Form.form.valid"
        [nzOkLoading]="isOkLoading"
>
    <form #Form="ngForm" class="example-form">
        <nz-form-item>
            <nz-form-label [nzSpan]="5">名称</nz-form-label>
            <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="名称不能为空">
                <input nz-input [(ngModel)]="addFileItem.name" name="required" required/>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-modal>
