<div class="title-box">
	<div class="title">
		webapp
	</div>
</div>
<div [ngClass]="{ box: translate }">
	<div class="login-box front">
		<div class="title">用户登录 / User Login</div>
		<form #userForm="ngForm" class="example-form">
			<mat-form-field class="example-full-width">
				<mat-label>输入邮箱</mat-label>
				<input
					id="usersEmail"
					email
					required
					matInput
					#userEmail="ngModel"
					[(ngModel)]="user.email"
					name="userEmail"
					placeholder="邮箱"
					[type]="'email'"
				/>
				<mat-error *ngIf="userEmail.errors?.email">邮箱输入错误</mat-error>
				<mat-error *ngIf="userEmail.errors?.required">密码不能为空</mat-error>
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<mat-label>输入密码</mat-label>
				<input
					id="password"
					required
					matInput
					#password="ngModel"
					[(ngModel)]="user.password"
					name="password"
					placeholder="密码"
					[type]="hide ? 'password' : 'text'"
				/>
				<button
					mat-icon-button
					matSuffix
					(click)="hide = !hide"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide"
				>
					<mat-icon style="height: 2.2em;">{{
						hide ? "visibility_off" : "visibility"
					}}</mat-icon>
				</button>
				<mat-error *ngIf="password.invalid">密码不能为空</mat-error>
			</mat-form-field>
		</form>
		<section>
			<div class="example-button-row">
				<button
					[disabled]="!userForm.form.valid"
					mat-raised-button
					style="width: 100%;"
					color="primary"
					(click)="login()"
				>
					登录
				</button>
			</div>
		</section>
		<div class="version">
			<span> 版本号: 1.0</span>
			<a (click)="showModal()" style="margin-left: 10px;">找回密码</a>
			<a (click)="resetShowModal()" style="margin-left: 10px;">重置</a>
			<a (click)="registerBox()" style="margin-left: 10px;">注册 >></a>
		</div>
	</div>

	<div class="login-box back">
		<div class="title">用户注册 / User Login</div>
		<form #registerForm="ngForm" class="example-form">
			<mat-form-field class="example-full-width">
				<mat-label>用户名</mat-label>
				<input
					id="registerUserName"
					required
					matInput
					#registerUserName="ngModel"
					[(ngModel)]="registerUser.username"
					name="registerUserName"
					placeholder="用户名"
				/>
				<mat-error *ngIf="registerUserName.invalid">用户名不能为空</mat-error>
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<mat-label>输入密码</mat-label>
				<input
					id="registerPassword"
					required
					matInput
					#registerPassword="ngModel"
					[(ngModel)]="registerUser.password"
					name="registerPassword"
					placeholder="密码"
					[type]="hide ? 'password' : 'text'"
				/>
				<button
					mat-icon-button
					matSuffix
					(click)="hide = !hide"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide"
				>
					<mat-icon style="height: 2.2em;">{{
						hide ? "visibility_off" : "visibility"
					}}</mat-icon>
				</button>
				<mat-error *ngIf="registerPassword.invalid">密码不能为空</mat-error>
			</mat-form-field>

			<mat-form-field class="example-full-width">
				<mat-label>确认密码</mat-label>
				<input
					[appPasswordConfirm]="registerUser.password"
					id="password_confirmation"
					required
					matInput
					#password_confirmation="ngModel"
					[(ngModel)]="registerUser.password_confirmation"
					name="password_confirmation"
					placeholder="密码"
					[type]="hide ? 'password' : 'text'"
				/>
				<button
					mat-icon-button
					matSuffix
					(click)="hide = !hide"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide"
				>
					<mat-icon style="height: 2.2em;">{{
						hide ? "visibility_off" : "visibility"
					}}</mat-icon>
				</button>
				<mat-error *ngIf="password_confirmation.errors?.passwordConfirm">
					两次密码输入不一致
				</mat-error>
				<mat-error *ngIf="password_confirmation.errors?.required">
					此项不能为空
				</mat-error>
			</mat-form-field>

			<mat-form-field class="example-full-width">
				<mat-label>输入邮箱</mat-label>
				<input
					id="registerEmail"
					email
					required
					matInput
					#registerEmail="ngModel"
					[(ngModel)]="registerUser.email"
					name="registerEmail"
					placeholder="邮箱"
					[type]="'email'"
				/>
				<mat-error *ngIf="registerEmail.errors?.email">邮箱输入错误</mat-error>
				<mat-error *ngIf="registerEmail.errors?.required"
					>密码不能为空</mat-error
				>
			</mat-form-field>
		</form>
		<section>
			<div class="example-button-row">
				<button
					[disabled]="!registerForm.form.valid"
					mat-raised-button
					style="width: 100%;"
					color="primary"
					(click)="register()"
				>
					注册
				</button>
			</div>
		</section>
		<div class="version">
			<span> 版本号: 1.0</span>
			<a (click)="loginBox()" style="margin-left: 40px;">登录 >></a>
		</div>
	</div>
</div>

<nz-modal
	[(nzVisible)]="Visible"
	nzTitle="邮箱找回密码"
	(nzOnCancel)="handleFindBackCancel()"
	(nzOnOk)="handleFindBackOk()"
	[nzOkDisabled]="!Form.form.valid"
	[nzOkLoading]="isOkLoading"
	[nzOkText]="'确认'"
	[nzCancelText]="'取消'"
>
	<form #Form="ngForm" class="example-form">
		<nz-form-item>
			<nz-form-label nzRequired [nzSpan]="5">邮箱</nz-form-label>
			<nz-form-control nzHasFeedback [nzSpan]="12" [nzErrorTip]="emailErrorTpl">
				<input
					nz-input
					[type]="'email'"
					email
					[(ngModel)]="findBackEmail"
					name="required"
					required
				/>
				<ng-template #emailErrorTpl let-control>
					<ng-container *ngIf="control.hasError('email')">
						请输入正确的邮箱
					</ng-container>
					<ng-container *ngIf="control.hasError('required')">
						Please input your E-mail!
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</form>
</nz-modal>

<nz-modal
	[(nzVisible)]="resetVisible"
	nzTitle="重置密码"
	(nzOnCancel)="resetCancel()"
	(nzOnOk)="resetBackOk()"
	[nzOkDisabled]="!resetForm.form.valid"
	[nzOkLoading]="isOkLoading"
	[nzOkText]="'确认'"
	[nzCancelText]="'取消'"
>
	<form #resetForm="ngForm" class="example-form">
		<nz-form-item>
			<nz-form-label nzRequired [nzSpan]="5">邮箱</nz-form-label>
			<nz-form-control nzHasFeedback [nzSpan]="12" [nzErrorTip]="resetErrorTpl">
				<input
					nz-input
					[type]="'email'"
					email
					[(ngModel)]="resetPwd.email"
					#resetPwdEmail="ngModel"
					name="resetPwdEmail"
					required
				/>
				<ng-template #resetErrorTpl let-control>
					<ng-container *ngIf="resetPwdEmail.errors?.email">
						请输入正确的邮箱
					</ng-container>
					<ng-container *ngIf="resetPwdEmail.errors?.required">
						邮箱不能为空
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

		<nz-form-item>
			<nz-form-label nzRequired [nzSpan]="5">密码</nz-form-label>
			<nz-form-control
				nzHasFeedback
				[nzSpan]="12"
				[nzErrorTip]="resetPasswordErrorTpl"
			>
				<input
					nz-input
					[(ngModel)]="resetPwd.password"
					#resetPassword="ngModel"
					name="resetPassword"
					required
				/>
				<ng-template #resetPasswordErrorTpl let-control>
					<ng-container *ngIf="resetPassword.errors?.required">
						密码不能为空
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

		<nz-form-item>
			<nz-form-label nzRequired [nzSpan]="5">确认密码</nz-form-label>
			<nz-form-control
				nzHasFeedback
				[nzSpan]="12"
				[nzErrorTip]="resetConfirmationErrorTpl"
			>
				<input
					nz-input
					[appPasswordConfirm]="resetPwd.password"
					[(ngModel)]="resetPwd.password_confirmation"
					#resetConfirmation="ngModel"
					name="resetConfirmation"
					required
				/>
				<ng-template #resetConfirmationErrorTpl let-control>
					<ng-container *ngIf="resetConfirmation.errors?.required">
						请再次输入密码
					</ng-container>

					<ng-container *ngIf="resetConfirmation.errors?.passwordConfirm">
						两次输入密码不一致
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</form>
</nz-modal>
